<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/edit.css">
    <title>Edit</title>
</head>
<body>
    <div id="wrapper">
        <h1>Edit Dog</h1>
            <% for (var dog in theDog) { %>
            <form action="/dogs/<%= theDog[dog].id%>" method="POST">    
                <label for="name">Name: </label>
                <input id="name" type="text" name="name" value='<%= theDog[dog].name %>'><br>
                <label for="breed">Breed: </label>
                <input type="text" id="breed" name="breed" value='<%= theDog[dog].breed %>'><br>
                <label for="age">Age: </label>
                <input type="text" id="age" name="age" value='<%= theDog[dog].age %>'><br>
                <label for="location">Location: </label>
                <input type="text" id="location" name="location" value='<%= theDog[dog].location %>'><br>
                <input type="submit" id="btn" value="Edit Dog">
                <a href="/">Delete</a>
                <a href="/">Cancel</a>
            </form>
            <% } %>
        </div>
    </body>
</html>